/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* GENERICS */

/* .container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

} */

.container{
    max-width: 85%;
    width: 100%;
    margin:0 auto;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
 
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
    color: #0084FD;
}



/* MARGIN-BOTTOM */
.mb-20{
    margin-bottom:20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-150{
    margin-bottom: 250px;
}
.mb-200{
    margin-bottom: 200px;
}



/* BG COLOR */

.bgcolor-blue{
    background-color: #0084FD;
}

.bgcolor-lightblue{
    background-color: #B5DDFF
}

.bgcolor-violet{
    background-color: #9792E4
}

/* COLOR */
.color-violet{
    color: #9792E4
}
.color-blue{
    color: #0084FD;
}


/* HEADER */

header{
    height: 100px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 1;

    display: flex;
    align-items: center;
}


.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-menu ul{
    display: flex;
    display: none;
}

.header-menu a{
   padding-left: 20px;
}



/* SECTION INFO CARD */

.row{
    border: 1px dashed black;
    margin:0 -15px;

}

.infocard .row{
    margin-top: 120px;
}

.double-col{
    border: 1px dashed black;

}

.col{
    
    flex-basis: calc(100%/3);
    border: 1px dashed black;
    /* padding: 0 15px; */

}

.card{
    min-height: 430px;
    background-color: #B5DDFF;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 30px;
    line-height: 30px;

    
}

.small-card{
    text-align: center;
}


.double-col .card{
    min-height: 600px;
    margin-top: 50px;
}

.p-demo-text{
    font-size: 20px;
    line-height: 40px;
}

.appstore{
    background-color: #0084FD;
    padding:15px 70px;
    font-size: 25px;
    border-radius: 30px;
}

.card img{
    padding-top: 40px;
}

.large-icon{
    width: 70px;
}


/* *********MEDIA QUERY */
@media  screen and (min-width:768px) {
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
}